[Unit]
Description=Start bridge local HID device to remote HID device.

[Service]
ExecStart=/usr/bin/python /usr/lib/mouse_bt_to_usb/mouse_bt_to_usb.py

[Install]
WantedBy=multi-user.target
